---
import { desc, eq } from 'drizzle-orm';
import Layout from '../../layouts/Layout.astro';
import db, { sightId } from '../../database/db';
import { Member, Sight } from '../../database/schema';

export const prerender = false;

const sightResults = await db
    .select({
        sight: Sight,
        memberColor: Member.color,
    })
    .from(Sight)
    .where(eq(Sight.deleted, false))
    .leftJoin(Member, eq(Sight.memberDiscord, Member.discord))
    .orderBy(desc(Sight.id));
---

<Layout header="Sights">
    <p>Welcome to my web sight</p>
    {sightResults.length > 0 ? (
        <p>Here are some sights</p>
        <ul>
            {sightResults.map(({ memberColor, sight }) => {
                return (
                    <li title={memberColor ?? "ANON"} style={`--marker-color: ${memberColor}`}>
                        <a href={`/sights/${sightId(sight)}`}>{sight.title}<br>{sight.date.toLocaleString()}</a>
                    </li>
                );
            })}
        </ul>
    ) : (
        <p>No sights  currently</p>
    )}
</Layout>