:root {
    --border-width-thin: var(--border-thickness);
    --border-width-thick: var(--border-thickness-thick);
}

body[data-theme="latex"] {
    --body-color: var(--text-color);
    --body-bg-color: var(--background-color);
    --link-visited: hsl(0, 100%, 33%);
    --link-focus-outline: hsl(220, 90%, 52%);
    --pre-bg-color: hsl(210, 28%, 93%);
    --kbd-bg-color: hsl(210, 5%, 100%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: black;
    --sidenote-target-border-color: hsl(55, 55%, 70%);
    --footnotes-border-color: hsl(0, 0%, 39%);
    --proof-symbol-filter: none;
}

body[data-theme="latex-dark"] {
    --body-color: var(--text-color);
    --body-bg-color: var(--background-color);
    --link-visited: hsl(196, 80%, 77%);
    --link-focus-outline: hsl(215, 63%, 73%);
    --pre-bg-color: hsl(0, 1%, 25%);
    --kbd-bg-color: hsl(0, 0%, 16%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: white;
    --sidenote-target-border-color: hsl(0, 0%, 59%);
    --footnotes-border-color: hsl(0, 0%, 59%);
    --proof-symbol-filter: invert(80%);
}

/* Set nav font-size to the same as h3 */
nav {
    font-size: var(--font-size-lg);
}

/* Justify all paragraphs */
p {
    text-align: justify;
}
