body {
    margin: 0 auto;
    padding: var(--line-height) 2ch;
    max-width: 80ch;
    max-width: calc(min(80ch, round(down, 100%, 1ch)));
    line-height: var(--line-height);
}

/* TODO: mono only */
@media screen and (max-width: 480px) {
    body {
        padding: var(--line-height) 1ch;
    }
}
