---
import { and, eq, getTableColumns } from "drizzle-orm";
import Layout from "../layouts/Layout.astro";
import ActionsList from "../components/Actions/ActionsList.svelte";
import ActionItemsList from "../components/Actions/ActionItemsList.svelte";
import type { ActionList } from "../store/actionsState";
import { detectFeedType } from "../server/rss";
import db from "../database/db";
import { Action, Member } from "../database/schema";

export const prerender = false;

const actions: ActionList[] = await db
    .select({
        ...getTableColumns(Action),
        username: Member.alias,
    })
    .from(Action)
    .innerJoin(Member, eq(Action.memberDiscord, Member.discord))
    .where(and(eq(Action.deleted, false), eq(Member.deleted, false)))
    .then((actions) =>
        actions.map((row) => ({
            ...row,
            type: detectFeedType(row.url),
        }))
    );
---

<Layout
    header="Actions"
    title="Actions"
    description="Actions from the LaTeX 4000 Collective"
>
    <h4>
        Here's a list of socials of each of ours, and the latest posts from each
        of them.
    </h4>
    <div class="actions">
        <ActionsList client:only="svelte" actions={actions} />
    </div>

    <ActionItemsList client:only="svelte" />
</Layout>

<style>
    .actions {
        position: absolute;
        right: 100%;
        width: 100%;
        max-width: var(
            --sidebar-max-width,
            calc(min(30ch, round(down, 100%, 1ch)))
        );
    }
</style>
