---
import Layout from "../layouts/Layout.astro";
import db from "../database/db";
import { Member } from "../database/schema";
import { eq } from "drizzle-orm";

export const prerender = false;

function rotateArray<T>(array: readonly T[]): T[] {
    const startIndex = Math.round(Math.random() * array.length);
    return [...array.slice(startIndex), ...array.slice(0, startIndex)];
}

const members = await db
    .select({
        addedRingToSite: Member.addedRingToSite,
        site: Member.site,
        alias: Member.alias,
    })
    .from(Member)
    .where(eq(Member.deleted, false))
    .then(rotateArray);
---

<Layout header="Yo">
    <p>
        We're a group of friends who have just been doing various shit, spanning
        from visual arts, music, games, computer science, and more
    </p>
    <p>
        What first started as a skype group between friends playing <a
            href="https://osu.ppy.sh/">osu!</a
        > then became a discord server's channel created on <time
            datetime="2015-09-15">September 13 2015</time
        ><br />We then moved into our own server at some point between <time
            datetime="2016">March-May 2016</time
        ><br />That server was unfortunately spontaneously deleted, but then
        recreated on the same day, <time datetime="2017-04-22"
            >April 22 2017</time
        >
    </p>
    <p>
        We made this site on <time datetime="2025-01-05">January 5 2025</time> to
        be able to collectively output anything we wanted publicly + anonymously,
        and to create a public facing webring collective<br />We've been chillin
        since then
    </p>
    <p>
        On this site, you can find anyone from the group who has connected their
        website and socials to the webring, as well as a musical project we
        created to submit and upload tracks we don't want to upload on our own
        aliases
    </p>
    <p>Enjoy your stay</p>

    <div>
        Signed:
        <ul>
            {
                members.map((member) => (
                    <li>
                        {member.addedRingToSite ? (
                            <a href={member.site}>{member.alias}</a>
                        ) : (
                            member.alias
                        )}
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>

<style>
    ul {
        margin-top: 0.5lh;
        padding: 0;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
    }

    :global(body[data-theme^="latex"]) ul {
        margin-top: 0;
    }

    :global(body[data-theme^="mono"]) ul {
        gap: 0.5lh 1ch;
        width: round(down, 100%, 5ch);
    }

    li {
        white-space: nowrap;
        list-style-position: inside;
    }

    li::marker {
        white-space: nowrap;
    }
</style>
