---
import Layout from '../layouts/Layout.astro';
import MembersTable from '../components/MembersTable.svelte';
import { db, Member } from "astro:db";

export const prerender = false;

function rotateArray<T>(array: T[]): T[] {
    const startIndex = Math.round(Math.random() * array.length);
    return [...array.slice(startIndex), ...array.slice(0, startIndex)];
}

const members = rotateArray(await db.select().from(Member));
---

<Layout header="Yo">
	<p>
		We're a group of friends who have just been doing various shit, spanning from visual arts, music, games, computer science, and more 
	</p>
	<p>
		What first started as a skype group between friends playing <a href="https://osu.ppy.sh/">osu!</a> then became a discord server's channel created on <time datetime="2015-09-15">September 13 2015</time><br>We then moved into our own server at some point between <time datetime="2016">March-May 2016</time><br>That server was unfortunately spontaneously deleted, but then recreated on the same day, <time datetime="2017-04-22">April 22 2017</time><br>We've been chillin since then
	</p>
	<p>
		On this site, you can find anyone from the group who has connected their website and socials to the webring, as well as a musical project we created to submit and upload tracks we don't want to upload on our own aliases
	</p>
	<p>Enjoy your stay</p>
	<MembersTable client:only="svelte" members={members} />
</Layout>
