---
import Layout from "../layouts/Layout.astro";
import SensationsApp from "../components/Sensations/SensationsApp.svelte";

const sensationsSchema = {
    "@context": "https://schema.org",
    "@type": "WebApplication",
    name: "Sensations",
    url: Astro.url.toString(),
    applicationCategory: "MentalHealthApplication",
    operatingSystem: "All",
    description: "Browser-based mood tracker, also stores entries locally.",
    creator: {
        "@type": "Organization",
        name: "LaTeX 4000",
    },
    // LMAO free app
    offers: {
        "@type": "Offer",
        price: "0",
        priceCurrency: "USD",
    },
    isAccessibleForFree: true,
};

const sensationsBreadcrumbs = {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: [
        {
            "@type": "ListItem",
            position: 1,
            name: "Home",
            item: new URL("/", Astro.url).toString(),
        },
        {
            "@type": "ListItem",
            position: 2,
            name: "Sensations",
            item: Astro.url.toString(),
        },
    ],
};
---

<Layout
    title="Sensations"
    description="Observe yourself. Are you feeling things? Are you having sensations?"
>
    <script
        is:inline
        type="application/ld+json"
        set:html={JSON.stringify(sensationsSchema)}
    />
    <script
        is:inline
        type="application/ld+json"
        set:html={JSON.stringify(sensationsBreadcrumbs)}
    />
    <h2>THIS IS A WORK IN PROGRESS</h2>
    <p>
        All data is stored in your browser/local storage.<br />You have full
        control over it.<br />It's advised to export your data regularly.
    </p>
    <SensationsApp client:visible />
    <br />
    <small>
        Heavily inspired by <a href="https://atlasofemotions.org/"
            >Atlas of Emotions</a
        >
    </small>
</Layout>
