---
import { readdir } from "node:fs/promises";
import SightsList from "../components/Sights/SightsList.svelte";
import { desc, eq, getTableColumns } from "drizzle-orm";
import db from "../database/db";
import { Member, Sight } from "../database/schema";
import Layout from "../layouts/Layout.astro";
import { thingColourHandler } from "../server/thingUtils";

export const prerender = false;

if (!process.env.SIGHTS_UPLOAD_DIRECTORY) {
    return new Response("SIGHTS_UPLOAD_DIRECTORY not set", { status: 500 });
}

const sights = await db
    .select({
        ...getTableColumns(Sight),
        memberColor: Member.color,
    })
    .from(Sight)
    .innerJoin(Member, eq(Sight.memberDiscord, Member.discord))
    .where(eq(Sight.deleted, false))
    .orderBy(desc(Sight.id))
    .then(thingColourHandler);

const filenames = await readdir(process.env.SIGHTS_UPLOAD_DIRECTORY, {
    recursive: true,
});
const thumbFilenamesById: Record<number, string[]> = {};
const fullFilenamesById: Record<number, string[]> = {};

for (const path of filenames) {
    const parts = path.split("/");

    if (parts.length !== 3) {
        continue;
    }

    const sightId = Number(parts[0]!);
    const type = parts[1]!;
    const filename = parts[2]!;

    switch (type) {
        case "original":
            fullFilenamesById[sightId] ??= [];
            fullFilenamesById[sightId].push(filename);
            break;
        case "thumbs":
            thumbFilenamesById[sightId] ??= [];
            thumbFilenamesById[sightId].push(filename);
            break;
    }
}
---

<Layout
    header="Sights"
    title="Sights"
    description="Sights created by the LaTeX 4000 Collective"
>
    <p>Welcome to my web sight we got {sights.length} sights</p>
    <noscript>
        <p>JavaScript is required to view the full-size images</p>
    </noscript>
    <SightsList
        {sights}
        {thumbFilenamesById}
        {fullFilenamesById}
        client:visible
    />
</Layout>

<style is:global>
    body:is(.themes-latex-light, .themes-latex-dark) .sights-grid {
        margin-top: 1rem;
    }
</style>
