---
import { db } from 'astro:db';
import Layout from '../../layouts/Layout.astro';
import { Word } from 'astro:db';

export const prerender = false;

const words = await db.select().from(Word);
---

<Layout header="Words">
	{words.length > 0 ? (
		<p>Here are some words</p>
		<ul>
			{words.map(word => (
				<li>
					<a href={`/words_test/${word.date.getTime()}`}>{word.title} - {word.date.toLocaleString()}</a>
				</li>
			))}
		</ul>
	) : (
		<p>No words currently</p>
	)}
</Layout>
