.audio-player-master-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--text-color-alt);
    background-color: var(--background-color);
}

.audio-player-master-container > h2 {
    height: 2lh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-transform: none;
}

.audio-player {
    display: flex;
    height: 2lh;
    align-items: center;
}

.audio-player button {
    height: inherit;
}

.audio-player-bar {
    position: relative;
    height: 2lh;
    flex-grow: 1;
    background-color: var(--background-color-alt);
}

.audio-player-bar-fill {
    position: absolute;
    height: 100%;
    background-color: var(--text-color);
    transition: width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* .audio-player-bar-fill-buffered {
    background-color: var(--background-color-alt);
    width: calc(100% * var(--buffered, 0) / var(--duration, 1000000));
} */

.audio-player-bar-fill-current-time {
    width: calc(100% * var(--current-time, 0) / var(--duration, 1000000));
}

.audio-player-timestamps {
    position: absolute;
    background-color: var(--background-color);
    right: 1ch;
    top: 0.5lh;
    pointer-events: none;
}

.audio-player-mute,
.audio-player-download,
.audio-player-bookmark,
.audio-player-shuffle,
.audio-player-play {
    width: 4ch;
}

.audio-player-shuffle-active {
    color: var(--background-color);
    background-color: var(--text-color);
}

.audio-player-shuffle-active:hover {
    color: var(--background-color-alt);
    background-color: var(--text-color-alt);
}

.audio-player-volume-control {
    width: 6ch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-player-volume-control-muted {
    color: var(--text-color-alt);
    text-decoration: line-through 2px var(--text-color-alt);
}
