---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths () {
    const words = await getCollection("words");
    return words.map(word => ({
        params: { id: word.id },
        props: { word },
    }));
}

const { word } = Astro.props;
const { Content } = await render(word);
---
<Layout title={word.data.title}>
    <small>{word.data.date.toLocaleString()}</small>
    <Content />
    <p style=`color: ${word.data.author.replace("\\", "")}`>-L</p>
</Layout>