---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const words = await getCollection("words");
---
<Layout header="Words">
    {words.length ? (
        <p>Here are some words</p>
        <ul>
            {words.map(word => (
                <li>
                    <a href={`/words/${word.id}`}>{word.data.title} - {word.data.date.toLocaleString()}</a>
                </li>
            ))}
        </ul>
    ) : (
        <p>No words currently</p>
    )}
</Layout>