---
import { db } from 'astro:db';
import Layout from '../../layouts/Layout.astro';
import { Word } from 'astro:db';
import { wordFromDb, wordId } from '../../../db/config';
import { Member } from 'astro:db';
import { eq } from 'astro:db';

export const prerender = false;

const wordResults = await db
	.select({
		word: Word,
		memberColour: Member.colour,
	})
	.from(Word)
	.innerJoin(Member, eq(Word.memberDiscord, Member.discord));
---

<Layout header="Words">
	{wordResults.length > 0 ? (
		<p>Here are some words</p>
		<ul>
			{wordResults.map((wordResult) => {
				const word = wordFromDb(wordResult.word);
				const memberColour = wordResult.memberColour;

				return (
					<li style={`--marker-color: ${memberColour}`}>
						<a href={`/words/${wordId(word)}`}>{word.title} - {word.date.toLocaleString()}</a>
					</li>
				);
			})}
		</ul>
	) : (
		<p>No words currently</p>
	)}
</Layout>

<style>
	li::marker {
		color: var(--marker-color);
	}
</style>
