---
import { desc, eq } from 'drizzle-orm';
import Layout from '../../layouts/Layout.astro';
import db, { wordId } from '../../database/db';
import { Member, Word } from '../../database/schema';

export const prerender = false;

const wordResults = await db
    .select({
        word: Word,
        memberColor: Member.color,
    })
    .from(Word)
    .where(eq(Word.deleted, false))
    .leftJoin(Member, eq(Word.memberDiscord, Member.discord))
    .orderBy(desc(Word.id));
---

<Layout header="Words">
    {wordResults.length > 0 ? (
        <p>Here are some words</p>
        <ul>
            {wordResults.map(({ memberColor, word }) => {
                return (
                    <li title={memberColor ?? "ANON"} style={`--marker-color: ${memberColor}`}>
                        <a href={`/words/${wordId(word)}`}>{word.title}<br>{word.date.toLocaleString()}</a>
                    </li>
                );
            })}
        </ul>
    ) : (
        <p>No words currently</p>
    )}
</Layout>

<style>

    li {
        margin-top: calc(var(--line-height) / 2);
    }

    li a {
        text-decoration: none;
    }

    li::marker {
        color: var(--marker-color);
    }
</style>
