---
import { desc, eq, getTableColumns } from "drizzle-orm";
import Layout from "../../layouts/Layout.astro";
import db, { wordId } from "../../database/db";
import { Member, Word } from "../../database/schema";
import { thingColourHandler } from "../../server/thingUtils";

export const prerender = false;

const wordResults = await db
    .select({
        ...getTableColumns(Word),
        memberColor: Member.color,
    })
    .from(Word)
    .where(eq(Word.deleted, false))
    .innerJoin(Member, eq(Word.memberDiscord, Member.discord))
    .orderBy(desc(Word.id))
    .then(thingColourHandler);
---

<Layout
    header="Words"
    title="Words"
    description="Words created by the LaTeX 4000 Collective"
>
    <p>Here are {wordResults.length} words that we have written:</p>
    {
        wordResults.length > 0 ? (
            <ul>
                {wordResults.map((word) => {
                    return (
                        <li
                            title={word.memberColor ?? "ANON"}
                            style={`--marker-color: ${word.memberColor ?? "inherit"}`}
                        >
                            <a href={`/words/${wordId(word)}`}>
                                {word.title}
                                <br />
                                {word.date.toLocaleString()}
                            </a>
                        </li>
                    );
                })}
            </ul>
        ) : (
            <p>No words currently</p>
        )
    }
</Layout>

<style>
    li {
        margin-top: calc(var(--line-height) / 2);
    }

    li a {
        text-decoration: none;
    }

    li::marker {
        color: var(--marker-color);
    }
</style>
