---
import '../styles/index.css';
const { header } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>Latex4000</title>
	</head>
	<body>
		<div class="main">
			<h1>Latex 4000</h1>
			<h2>{header}</h2>
			<slot />
		</div>
		<div class="footer">
			<a href="https://github.com/Latex4000" target="_blank">GitHub</a>
			|
			<a href="https://owickstrom.github.io/the-monospace-web/" target="_blank">Design implemented from The Monospace Web</a>
		</div>
	</body>
</html>

<style>
	.footer {
		position: absolute;
		bottom: 0;
		font-size: .75rem;
	}
</style>
