---
import '../styles/index.css';
const { header } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>Latex 4000</title>
		<meta name="description" content="Latex 4000 Collective" />
		<meta name="author" content="Latex 4000" />
		<meta name="keywords" content="Latex 4000, collective, webring" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Latex4000" />
		<meta name="twitter:title" content="Latex 4000" />
		<meta name="twitter:description" content="Latex 4000 Collective" />
		<meta name="twitter:image" content={new URL("/logo.png", Astro.url)} />
		<meta property="og:title" content="Latex 4000" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={new URL("/logo.png", Astro.url)} />
		<meta property="og:description" content="Latex 4000 Collective" />
		<meta property="og:site_name" content="Latex 4000" />
		<meta property="og:locale" content="en_US" />
	</head>
	<body>
		<header>
			<h1><a href="/" class="header">Latex 4000 / L4K</a></h1>
			<h2>
				<a href="/">Home</a>
				|
				<a href="/sounds">Sounds</a>
				<!-- |
				<a href="/words">Words</a>
				|
				<a href="/actions">Actions</a> -->
			</h2>
			<h2>{header}</h2>
		</header>
		<main>
			<slot />
			<div class="latex4000Webring">
				Webring:
				<div class="latex4000WebringButtons">
					<a href="https://nonacademic.net" id="latex4000Prev" title="Previous">←</a>
					<a href="#" id="latex4000Random" title="Random">Random</a>
					<a href="https://nonacademic.net" id="latex4000Next" title="Next">→</a>
				</div>
				<script is:inline id="latex4000Webring" src="https://nonacademic.net/webring.min.js" data-alias="latex4000"></script>
			</div>
		</main>
		<footer>
			<a href="https://www.youtube.com/@latex4000" target="_blank">YouTube</a>
			|
			<a href="https://soundcloud.com/latex4000" target="_blank">SoundCloud</a>
			|
			<a href="https://github.com/Latex4000" target="_blank">GitHub</a>
			|
			<a href="https://owickstrom.github.io/the-monospace-web/" target="_blank">Design implemented from The Monospace Web</a>
		</footer>
	</body>
</html>

<style>
	header {
		text-decoration: none;
		color: inherit;
	}

	footer {
		font-size: .75rem;
	}
</style>
